{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

http://:80 {
	log {
		level DEBUG
		{$CADDY_SERVER_LOG_OPTIONS}
		# Redact the authorization query parameter that can be set by Mercure
		format filter {
			request>uri query {
				replace authorization REDACTED
			}
		}
	}
	bind 0.0.0.0
	root /app/public
	encode zstd gzip

	# vulcain Enbale when hypermedia (JSON-LD, HAL) is needed.

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header ?Permissions-Policy "browsing-topics=()"

	@phpRoute {
		not path /.well-known/mercure* # Ignore Mercure
		not file {path} # Ignore if the file exists
	}
	rewrite @phpRoute index.php

	php_server {
		file_server off # We serve static files in the frontend.
	}
}
